body {
  margin: 20px;
  background-color: #E6F9FF;
}


h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #266980;
}

label {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  padding: 3px;
  
}


#task {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  width: 80%;
  height: 15px;
  resize: none;
}

#submitButton {
  float: right;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  width: 50px;
  height: 20px;
  cursor:pointer;
  border : solid 2px #266980;
  border-radius : 2px;
  font-size : 14px;
  color : #ffffff;
  padding : 1px 2px;
  background-color : #0a66c9;
  position: relative;
}


#tagline {
  margin-top: -30px;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.container {
  border: solid 1px #3EA8A5;
  background-color: #D3D3D3;
  padding: 1%;
  margin: 0 2%;
}

.grey_box {
  // background-color: #ccc;
  margin: 10px;
}

ul {
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
}

.deleteListItem {
  height: 20px;
  margin: 0 0 0 10px;
  position: relative;  /* move it down slightly from where it would */
  top: 3px;            /* naturally appear */
  border-radius: 3px;
  border: none;
}

.completed {
  text-decoration: line-through;
  color: gray;
}